body {
  padding-left: 10px;
  padding-top: 10px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#errorDiv {
  display: none;
  position: fixed;
  top: 15px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
}

#content,#name {
  width: 300px;
  height: 35px;
}

#dfTable {
  width: 100%;
}

.mainPanel {
  width: 900px;
  margin-top: 10px;
  margin-bottom: 0px !important;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}