body{
  padding-left: 10px;
  padding-top: 10px;
}

.center {
  text-align:center;
}
.right {
  text-align:right;
}

#errorDiv {
  display:none;
}

#content, #name{
  width: 300px;
  height: 35px;
}

.mainPanel{
  width: 900px;
  margin-top: 10px;
}
